@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

.animated-card {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(5px);
  }
  100%{
    opacity: 1;
    transform: translate(0px);
  }
}
